@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Hlight";
	src: url("./assets/fonts/HelveticaNeueCyr-Light.otf");
}

@font-face {
	font-family: "Hmid";
	src: url("./assets/fonts/HelveticaNeueCyr-Medium.otf");
}

@font-face {
	font-family: "Hbold";
	src: url("./assets/fonts/HelveticaNeueCyr-Bold.otf");
}

@font-face {
	font-family: "Hblack";
	src: url("./assets/fonts/HelveticaNeueCyr-Black.otf");
}

@layer utilities {
	.hover {
		@apply hover:bg-white hover:text-black transition-all;
	}
}
