@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Hlight";
	src: url("./assets/fonts/HelveticaNeueCyr-Light.otf");
}

@font-face {
	font-family: "Hmid";
	src: url("./assets/fonts/HelveticaNeueCyr-Medium.otf");
}

@font-face {
	font-family: "Hbold";
	src: url("./assets/fonts/HelveticaNeueCyr-Bold.otf");
}

@font-face {
	font-family: "Hblack";
	src: url("./assets/fonts/HelveticaNeueCyr-Black.otf");
}

@layer utilities {
	.hover {
		@apply flex bg-[length:300%] bg-gradient-to-r from-transparent to-white hover:bg-[center_top_-100%] transition-all;
	}
}
